<span *ngIf="!virtualScroll">
  <ion-accordion-group
    *ngFor="let t of task.children; let i = index"
    #accordionGroup
  >
    <app-show-task-body [index]="i" [task]="t"></app-show-task-body>
  </ion-accordion-group>
</span>
<span *ngIf="virtualScroll">
  <cdk-virtual-scroll-viewport
    [itemSize]="20"
    class="example-viewport"
    [minBufferPx]="200"
    [maxBufferPx]="500"
  >
    <ion-accordion-group
      *cdkVirtualFor="let t of task.children; let i = index"
      #accordionGroup
    >
      <app-show-task-body [index]="i" [task]="t"></app-show-task-body>
    </ion-accordion-group>
  </cdk-virtual-scroll-viewport>
</span>
