<span *ngIf="hasChildren(task)">
  <ion-accordion>
    <ion-item slot="header">
      <app-task-card
        [task]="task"
        [highlight]="true"
        [edit]="editable"
        [index]="index"
        [showRecent]="true"
      ></app-task-card>
    </ion-item>
    <ion-list slot="content">
      <app-show-tasks [task]="task" [editable]="editable"> </app-show-tasks>
    </ion-list>
  </ion-accordion>
</span>
<span *ngIf="!hasChildren(task)">
  <ion-item slot="header">
    <app-task-card
      [task]="task"
      [highlight]="true"
      [edit]="editable"
      [index]="index"
    ></app-task-card>
  </ion-item>
</span>
