<form
  class="ion-padding"
  (submit)="update(task, name, duedate); name = ''; duedate = ''"
  #f="ngForm"
>
  <ion-item lines="full" class="ion-padding-bottom">
    <ion-label position="floating">タスク</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="name"
      name="task"
      required
      minlength="2"
      maxlength="20"
    ></ion-input>
  </ion-item>
  <ng-container>
    <ion-accordion-group #accordionGroup>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>締切 </ion-label>
          <ion-text slot="end">
            <app-show-date date="{{ duedate }}"></app-show-date>
          </ion-text>
        </ion-item>
        <ion-datetime
          #modalDateEl
          [presentation]="'date'"
          slot="content"
          size="cover"
          [min]="now"
          [max]="maxDuedate"
          (ionChange)="
            duedate = modalDateEl.value; accordionGroup.value = undefined
          "
        ></ion-datetime>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
  <ion-button type="submit" [disabled]="!f.form.valid" expand="block">{{
    buttonName
  }}</ion-button>
  <ion-button (click)="cancel()" expand="block">キャンセル </ion-button>
</form>
