<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>タスク一覧 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngFor="let t of tasks">
    <span *ngIf="t.path">
      <ion-accordion>
        <ion-item slot="header" lines="full">
          <app-task-card [task]="t" [highlight]="true"></app-task-card>
        </ion-item>
        <ion-item slot="content"> {{t.path}} </ion-item>
      </ion-accordion>
    </span>
    <span *ngIf="!t.path">
      <ion-item lines="full">
        <app-task-card [task]="t" [highlight]="true"></app-task-card>
      </ion-item>
    </span>
  </ion-accordion-group>
</ion-content>
