<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> タスク追加 </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changemode=!changemode">
        <span *ngIf="!changemode">
          <ion-icon name="pencil"></ion-icon>
        </span>
        <span *ngIf="changemode">
          <ion-icon name="eye"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <span *ngIf="showform">
    <app-manipulation-task
      [task]="task"
      [manipulation]="addTask"
    ></app-manipulation-task>
  </span>

  <ion-button fill="clear" (click)="showform=!showform"
    ><span *ngIf="showform"><ion-icon name="arrow-up"></ion-icon></span>
    <span *ngIf="!showform"><ion-icon name="arrow-down"></ion-icon></span>
  </ion-button>
  <app-show-tasks [task]="task" [change]="changemode"> </app-show-tasks>
</ion-content>
