<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> タスク追加 </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changemode=!changemode">
        <span *ngIf="!changemode">
          <ion-icon name="pencil-outline"></ion-icon>
        </span>
        <span *ngIf="changemode">
          <ion-icon name="eye-outline"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding" (submit)="addTask()" #f="ngForm">
    <ion-item lines="full" class="ion-padding-bottom">
      <ion-label position="floating">タスク</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="taskname"
        name="task"
        required
        minlength="3"
        maxlength="20"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!f.form.valid"
      >追加</ion-button
    >
  </form>
  <app-show-tasks [task]="task" [change]="changemode"> </app-show-tasks>
</ion-content>
